<div class="content-block">
	<div class="block-header" *ngFor="let breadcrum of breadcrumbs">
		<!-- breadcrumb -->
		<app-breadcrumb [title]="breadcrum.title" [items]="breadcrum.items" [active_item]="breadcrum.active">
		</app-breadcrumb>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12">
			<mat-tab-group>
				<mat-tab>
					<ng-template mat-tab-label>
						<i class="material-icons-two-tone psr-3">list_alt</i>
						Vista Lista
					</ng-template>
					<div class="mt-5">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="card">
								<div class="body">
									<div class="row clearfix">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<div class="responsive_table">
												<div class="materialTableHeader">
													<div class="row align-items-center">
														<div class="col-8 col-md-10 d-flex align-items-center">
															<mat-form-field class="w-100 m-0 p-0" appearance="outline"
																subscriptSizing="dynamic">
																<mat-label>{{ searchTittle }}</mat-label>
																<mat-icon matPrefix
																	class="text-muted me-2">search</mat-icon>
																<input matInput (keyup)="applyFilter($event)"
																	placeholder="Buscar receta..." #input>
															</mat-form-field>
														</div>
														<div
															class="col-4 col-md-2 d-flex align-items-center justify-content-end">
															<ul
																class="header-buttons d-flex list-unstyled justify-content-end gap-1 gap-md-2 m-0 p-0">
																<li>
																	<div class="icon-button-demo">
																		<button mat-mini-fab color="primary"
																			(click)="create()">
																			<mat-icon class="col-white">add</mat-icon>
																		</button>
																	</div>
																</li>
																<li>
																	<div class="icon-button-demo">
																		<button mat-mini-fab color="primary"
																			(click)="dataRefresh()">
																			<mat-icon
																				class="col-white">refresh</mat-icon>
																		</button>
																	</div>
																</li>
															</ul>
														</div>
													</div>
												</div>
												<div class="example-container mat-elevation-z8">
													<mat-table #table [dataSource]="dataSource" matSort
														class="mat-cell">
														<ng-container matColumnDef="serialCode">
															<mat-header-cell *matHeaderCellDef>CÓDIGO
																RECETA</mat-header-cell>
															<mat-cell *matCellDef="let row"
																style="font-weight: bold;">{{ row.serialCode
																}}</mat-cell>
														</ng-container>
														<ng-container matColumnDef="maquiladorBag">
															<mat-header-cell *matHeaderCellDef>MAQUILADOR
																PRINCIPAL</mat-header-cell>
															<mat-cell *matCellDef="let row"
																style="text-transform: uppercase;">{{ row.maquiladorBag
																}}</mat-cell>
														</ng-container>
														<ng-container matColumnDef="numberBags">
															<mat-header-cell *matHeaderCellDef>BOLSAS</mat-header-cell>
															<mat-cell *matCellDef="let row"> {{ row.numberBags }}
																<strong>&nbsp;Unid</strong></mat-cell>
														</ng-container>
														<!--  <ng-container matColumnDef="valueToPriceCost">
															<mat-header-cell *matHeaderCellDef>PRECIO
																COSTO</mat-header-cell>
															<mat-cell *matCellDef="let row" appCurrencyFormat
																[innerHTML]="row.valueToPriceCost | currency:'USD':'symbol':'1.2-2': 'en-US'"></mat-cell>
														</ng-container>
														<ng-container matColumnDef="valueAtSalesPrice">
															<mat-header-cell *matHeaderCellDef>PRECIO
																VENTA</mat-header-cell>
															<mat-cell *matCellDef="let row"
																[innerHTML]="row.valueAtSalesPrice | currency:'USD':'symbol':'1.2-2': 'en-US'"></mat-cell>
														</ng-container> -->
														<ng-container matColumnDef="monthRecipeBag">
															<mat-header-cell *matHeaderCellDef>MES
																RECETA</mat-header-cell>
															<mat-cell *matCellDef="let row"
																[innerHTML]="row.monthRecipeBag"></mat-cell>
														</ng-container>
														<!-- Define las celdas de la tabla con el menú -->
														<ng-container matColumnDef="actions">
															<mat-header-cell *matHeaderCellDef></mat-header-cell>
															<mat-cell *matCellDef="let row;">
																<mat-menu #menu="matMenu">
																	<button mat-icon-button matTooltip="Editar receta"
																		matTooltipClass="example-tooltip-red"
																		(click)="update(row)">
																		<mat-icon>edit</mat-icon>
																	</button>
																	<button mat-icon-button
																		matTooltip="Información receta"
																		matTooltipClass="example-tooltip-red"
																		(click)="detail(row)">
																		<mat-icon>info</mat-icon>
																	</button>
																	<button mat-icon-button
																		matTooltip="Registrar pagos para receta"
																		matTooltipClass="example-tooltip-red"
																		(click)="payment(row)">
																		<mat-icon>payments</mat-icon>
																	</button>
																	<button mat-icon-button
																		matTooltip="Exportar a Pdf Información de la receta"
																		matTooltipClass="example-tooltip-red"
																		(click)="exportToPDF(row)">
																		<mat-icon
																			color="primary">picture_as_pdf</mat-icon>
																	</button>
																	<button mat-icon-button
																		matTooltip="Exportar a Excel Información productos la receta"
																		matTooltipClass="example-tooltip-red"
																		(click)="exportToExcel(row)">
																		<i class="fas fa-file-excel"
																			style="color: #57a773; font-size: 20px;"></i>
																	</button>
																	<button mat-icon-button
																		matTooltip="Eliminar la receta"
																		matTooltipClass="example-tooltip-red"
																		(click)="desactive(row)">
																		<mat-icon>delete</mat-icon>
																	</button>

																	<!--  <button mat-icon-button (click)="delete(row)">
																		<mat-icon>delete</mat-icon>
																	</button> -->
																</mat-menu>
																<button mat-icon-button [matMenuTriggerFor]="menu"
																	aria-label="More actions">
																	<mat-icon>more_vert</mat-icon>
																</button>
															</mat-cell>
														</ng-container>
														<mat-header-row *matHeaderRowDef="displayedColumns">
														</mat-header-row>
														<mat-row
															*matRowDef="let row; columns: displayedColumns"></mat-row>
													</mat-table>
													<div class="no-results"
														[style.display]="dataLength == 0 ? '' : 'none'">
														<h3 style="text-align: center;">Sin registros para mostrar</h3>
													</div>

													<mat-paginator #paginator [length]="dataLength" [pageIndex]="0"
														[pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
													</mat-paginator>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</mat-tab>
				<mat-tab>
					<ng-template mat-tab-label>
						<i class="material-icons-two-tone psr-3">grid_on</i>
						Vista cuadrícula
					</ng-template>
					<div class="row mt-5 ml-0 mr-0">
						<div class="col-md-4" *ngFor="let bagRecipe of bagRecipeList; let i = index">
							<div class="card border-apply">
								<div class="m-b-20">
									<div class="contact-grid">
										<div class="profile-header bg-green">
											<div class="user-name">{{ bagRecipe.maquiladorBag}}</div>
											<div class="name-center">Cantidad de bolsas: {{ bagRecipe.numberBags
												}}
											</div>
										</div>
										<img src="assets/images/products/clap.jpg" class="user-img" alt="">
										<div class="name-center">Serial Receta: <b>{{ bagRecipe.serialCode }}</b></div>
										<p>
											<br />Mes de la receta: <strong> {{ bagRecipe.monthRecipeBag }} </strong>
										</p>
										<div class="profile-userbuttons">
											<button mat-stroked-button color="primary"
												(click)="detail(bagRecipe)">Detalle</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</mat-tab>
			</mat-tab-group>
		</div>
	</div>
</div>