<div class="block-header" *ngFor="let breadscrum of breadscrums">
	<!-- breadcrumb -->
	<div class="row">
		<div class="col">
			<app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
			</app-breadcrumb>
		</div>
	</div>
	<form [formGroup]="bagRecipeForm">
		<section formGroupName="resumeForm">
			<div class="row">
				<div class="col-2 col-md-2">
					<!-- <h4>Seleccionar Período de Resumen</h4>
					<mat-form-field class="example-full-width" appearance="outline">
						<mat-label>Seleccionar Período</mat-label>
						<mat-date-range-input [rangePicker]="rangePicker" [max]="maxDate">
							<input matStartDate formControlName="periodStartDate" placeholder="Fecha inicio">
							<input matEndDate (dateChange)="filterChange()" formControlName="periodEndDate" placeholder="Fecha fin">
						</mat-date-range-input>
						<mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
						<mat-date-range-picker #rangePicker></mat-date-range-picker>
					</mat-form-field> -->
					<!-- <mat-form-field class="example-full-width" appearance="outline">
						<mat-label>Seleccionar Período</mat-label>
						<mat-select (selectionChange)="filterChange($event)" formControlName="periodRecipe">
							<mat-option *ngFor="let item of filters" [value]="item.value">
								{{ item.name }}
							</mat-option>
						</mat-select>
					</mat-form-field> -->
				</div>
				<div class="col-8 col-md-8">
					<h4>Seleccionar Mes de Resumen</h4>
					<mat-form-field class="example-full-width mb-3" appearance="outline">
						<mat-label>Seleccionar Mes de Resumen</mat-label>
						<input matInput [matDatepicker]="monthPicker" formControlName="mounthRecipe" [max]="maxDate"
							placeholder="Seleccione el mes y el año">
						<mat-datepicker-toggle matSuffix [for]="monthPicker"></mat-datepicker-toggle>
						<mat-datepicker #monthPicker startView="multi-year"
							(monthSelected)="setMonthAndYear($event, monthPicker)" panelClass="example-month-picker">
						</mat-datepicker>
					</mat-form-field>
				</div>
				<div class="col-2 col-md-2"></div>
			</div>
		</section>
	</form>
</div>
<!-- INFORMACION SIN DATA -->
<div class="row" *ngIf="recipeList.length === 0">
	<div class="col-lg-12">
		<div class="card">
			<div class="body">
				<div class="row align-items-center">
					<!-- <div class="col-md-4">
						<img src="assets/images/products/clap.jpg" alt="" class="w-100">
					</div> -->
					<div class="col-md-12">
						<h4 class="font-20 weight-500 mb-2">
							Lo sentimos<div class="weight-600 font-30 col-blue pt-1">No hay información disponible para
								el filtro seleccionado</div>
						</h4>
						<p class="font-18 max-width-600">"Te invitamos a elegir otra fecha o tipo de resumen, o a
							intentarlo más tarde. Estamos comprometidos a mejorar continuamente nuestros servicios para
							proporcionarte la información que necesitas. Agradecemos tu paciencia y comprensión."</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<mat-tab-group>
	<!--RECETA DETALLES-->
	<mat-tab *ngFor="let recipe of recipeList; let indexRecipe = index;">
		<ng-template mat-tab-label>
			<mat-icon class="example-tab-icon msr-2">shopping_bag</mat-icon>
			<b> RECETA {{ indexRecipe + 1 }} {{ recipe.perBag?.maquiladors[0]?.company?.businessName }} ({{
				recipe.perBag?.monthRecipe }})</b>&nbsp;
			<mat-icon color="primary" (click)="exportToPDF(recipe)">picture_as_pdf</mat-icon>
		</ng-template>

		<!-- Widgets -->
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<div class="card">
					<div class="body">
						<div class="row align-items-center">
							<div class="col-md-3 mb-0">
								<h1>
									<div class="weight-600 col-blue pt-1">{{( recipe.totals?.totalNumberBags ) ?
										(recipe.totals.totalNumberBags | number:"1.0-0") : 0 | number:"1.0-0" }} Bolsas
									</div>
									<h4>
										<p class="weight-600 col-blue pt-1"> Para esta Receta</p>
										<p class="weight-600 col-blue pt-1"> {{ recipe.perBag?.monthRecipe }}</p>
									</h4>
								</h1>
							</div>
							<div class="col-md-9">
								<h4>
									<div class="weight-600 col-blue pt-1">Buen trabajo,
										<span *ngFor="let company of  recipe.perBag.maquiladors"> {{
											company.businessName }} </span>. ¡¡Sigue adelante!!
									</div>
								</h4>
								<p class="font-15 max-width-600">Sigue así y mejora tus resultados. Los avances son muy
									buenos!!!</p>
								<div class="row">
									<div class="col-lg-3">
										<div><i class="fa fa-circle dot1 msr-2"></i> Precio costo</div>
										<h5>
											<b>{{ (recipe.perBag?.unitCostPrice) ?
												(recipe.perBag?.unitCostPrice | currency:'$':'symbol':'1.2-2':
												'en-US') : 0.00
												| currency:'$':'symbol' }}</b>
										</h5>
									</div>
									<div class="col-lg-3">
										<div><i class="fa fa-circle dot1 msr-2"></i> Total a costo</div>
										<h5>
											<b>{{ (recipe.totals?.totalCostPrice) ?
												(recipe.totals?.totalCostPrice | currency:'$':'symbol':'1.2-2':
												'en-US') :
												0.00
												| currency:'$':'symbol' }}</b>
										</h5>
									</div>
									<div class="col-lg-3">
										<div><i class="fa fa-circle dot2 msr-2"></i> Precio venta</div>
										<h5>
											<b>{{ (recipe.perBag?.unitSalesPrice) ?
												(recipe.perBag?.unitSalesPrice | currency:'$':'symbol':'1.2-2':
												'en-US') :
												0.00
												| currency:'$':'symbol' }}</b>
										</h5>
									</div>
									<div class="col-lg-3">
										<div><i class="fa fa-circle dot2 msr-2"></i> Total a venta</div>
										<h5>
											<b>{{ (recipe.totals?.totalSalePrice) ?
												(recipe.totals?.totalSalePrice | currency:'$':'symbol':'1.2-2':
												'en-US') :
												0.00
												| currency:'$':'symbol' }}</b>
										</h5>
									</div>
									<div class="col-lg-3">
										<div><i class="fa fa-circle dot3 msr-2"></i> Productos Bolsa</div>
										<h5>
											<b>{{ (recipe.perBag?.productForBag) ?
												(recipe.perBag?.productForBag | number:"1.0-0") : 0.00
												| number:"1.0-0" }} Unidades</b>
										</h5>

									</div>
									<div class="col-lg-3">
										<div><i class="fa fa-circle dot3 msr-2"></i> Costo combo</div>
										<h5>
											<b>{{ (recipe.perBag?.comboCost) ?
												(recipe.perBag?.comboCost | currency:'$':'symbol':'1.2-2': 'en-US') :
												0.00
												| currency:'$':'symbol' }}</b>
										</h5>
									</div>
									<div class="col-lg-3">
										<div><i class="fa fa-circle dot4 msr-2"></i> Utilidad combo</div>
										<h5>
											<b>{{ (recipe.perBag?.comboUtility) ?
												(recipe.perBag?.comboUtility | currency:'$':'symbol':'1.2-2': 'en-US')
												:
												0.00
												| currency:'$':'symbol' }}</b>
										</h5>
									</div>
									<div class="col-lg-3">
										<h4>
											<p class="weight-600 col-blue pt-1"> Serial Receta:</p>
										</h4>
										<b> {{ recipe.perBag?.serialCode }} </b>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
				<div class="card l-bg-blue p-2 px-4 text-white py-3">
					<div class="info d-flex justify-content-between align-items-center">
						<div class="d-flex flex-column text-white font-22"> <span>Monto facturación</span>
							<small class="mt-2"><i class="far fa-money-bill-alt"></i> {{
								(recipe.totals?.billingAmount) ? (recipe.totals?.billingAmount |
								currency:'$':'symbol':'1.2-2': 'en-US') : 0.00 | currency:'$':'symbol' }}
							</small>
						</div>
					</div>
				</div>
				<div class="card l-bg-blue p-2 px-4 text-white py-3">
					<div class="info d-flex justify-content-between align-items-center">
						<div class="d-flex flex-column text-white font-22"> <span>Comisión</span>
							<small class="mt-2"><i class="far fa-money-bill-alt"></i> {{
								(recipe.totals?.totalCommission) ? (recipe.totals?.totalCommission |
								currency:'$':'symbol') :
								0.00
								| currency:'$':'symbol' }}</small>
						</div>
					</div>
				</div>
				<div class="card l-bg-green p-2 px-4 text-white py-3">
					<div class="info d-flex justify-content-between align-items-center">
						<div class="d-flex flex-column text-white font-22"> <span>Monto facturación - comisión</span>
							<small class="mt-2"><i class="far fa-money-bill-alt"></i> {{
								(recipe.totals?.billingAmountLessCommission) ?
								(recipe.totals?.billingAmountLessCommission | currency:'$':'symbol':'1.2-2': 'en-US')
								:
								0.00
								| currency:'$':'symbol' }}</small>
						</div>
					</div>
				</div>

			</div>
			<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
				<div class="card l-bg-blue p-2 px-4 text-white py-3">
					<div class="info d-flex justify-content-between align-items-center">
						<div class="d-flex flex-column text-white font-22"> <span>Importe total del flete</span>
							<small class="mt-2"><i class="far fa-money-bill-alt"></i> {{
								(recipe.totals?.totalFreightForProduct) ? (recipe.totals?.totalFreightForProduct |
								currency:'$':'symbol') :
								0.00
								| currency:'$':'symbol' }}</small>
						</div>
					</div>
				</div>
				<div class="card l-bg-green p-2 px-4 text-white py-3">
					<div class="info d-flex justify-content-between align-items-center">
						<div class="d-flex flex-column text-white font-22"> <span>Utilidad Neta </span>
							<small class="mt-2"><i class="far fa-money-bill-alt"></i> {{
								(recipe.totals?.netProfit) ?
								(recipe.totals?.netProfit | currency:'$':'symbol':'1.2-2': 'en-US')
								:
								0.00
								| currency:'$':'symbol' }}</small>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
				<div class="card">
					<div class="header"
						style="background-color: #f5f5f5; padding: 12px 20px; border-bottom: 2px solid #2196F3; border-radius: 6px 6px 0 0;">
						<h2 style="margin: 0; font-weight: 700; font-size: 1.4rem; color: #2196F3;">
							🧾 Importes aplicados
						</h2>
					</div>
					<div class="tableBody">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>Tipo</th>
										<th></th>
										<th>Monto</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Gasto Operativo</td>
										<td></td>
										<td>
											<h5>
												<b>{{ (recipe.perBag?.operatingExpense) ?
													(recipe.perBag?.operatingExpense |
													currency:'$':'symbol':'1.2-2':'en-US') : 0.00
													| currency:'$':'symbol' }}
												</b>
											</h5>
										</td>
									</tr>
									<tr>
										<td>Maquila</td>
										<td></td>
										<td>
											<h5>
												<b>{{ (recipe.perBag?.maquila) ? (recipe.perBag?.maquila |
													currency:'$':'symbol':'1.2-2':'en-US') : 0.00
													| currency:'$':'symbol' }}
												</b>
											</h5>
										</td>
									</tr>
									<tr>
										<td>Impuesto</td>
										<td></td>
										<td>
											<h5>
												<b>{{ (recipe.perBag?.tax) ?
													(recipe.perBag?.tax | currency:'$':'symbol':'1.2-2':'en-US') :
													0.00
													| currency:'$':'symbol' }}
												</b>
											</h5>
										</td>
									</tr>
									<tr>
										<td>Comision</td>
										<td></td>
										<td>
											<h5>
												<b>{{ (recipe.perBag?.commission) ?
													(recipe.perBag?.commission |
													currency:'$':'symbol':'1.2-2':'en-US') : 0.00
													| currency:'$':'symbol' }}
												</b>
											</h5>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- #END# Widgets -->
		<div class="row clearfix">
			<div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
				<div class="card">
					<div class="header"
						style="background-color: #f5f5f5; padding: 12px 20px; border-bottom: 2px solid #2196F3; border-radius: 6px 6px 0 0;">
						<h2 style="margin: 0; font-weight: 700; font-size: 1.4rem; color: #2196F3;">
							🧾 Análisis de Maquiladores
						</h2>
					</div>
					<div class="body">
						<div class="row align-items-center">
							<div class="col-md-12">
								<p class="font-15 max-width-600">En este informe analizamos la distribución de productos
									según el tipo de maquilador.
									Descubre cómo se reparten entre nuestros valiosos aliados productivos.!
								</p>
								<div class="row">
									<mat-tab-group mat-align-tabs="center">
										<div *ngFor="let maquilador of recipe.perBag?.maquiladors">
											<mat-tab *ngIf="maquilador.maquiladorMajor === true"
												label="Productos {{ maquilador.company.businessName }}">
												<div class="p-4">
													<p class="text-default">A continuación, se presenta información
														sobre
														productos
														proporcionados por <b>{{ maquilador.company.businessName }}</b>,
														así como el costo
														generado
														en
														dólares. Esta
														recopilación
														ofrece una visión clara y concisa de la actividad económica,
														proporcionando datos relevantes para su análisis y seguimiento.
													</p>
													<ul class="list-group list-group-unbordered">
														<li class="list-group-item">
															<b>Productos {{ maquilador.company.businessName }}</b>
															<div class="profile-desc-item float-end">{{
																recipe.totals?.amountMaquiladorMajor | number:"1.0-0" }}
																productos</div>
															<mat-accordion class="example-headers-align" multi>
																<mat-expansion-panel>
																	<mat-expansion-panel-header>
																		<mat-panel-title>
																		</mat-panel-title>
																		<mat-panel-description>
																			Detalles Productos
																			<mat-icon>list_alt</mat-icon>
																		</mat-panel-description>
																	</mat-expansion-panel-header>
																	<div
																		class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
																		<div class="card">
																			<div class="header">
																				<h2></h2>
																			</div>
																			<div class="body">
																				<div class="table-responsive m-t-15">
																					<table
																						class="table align-items-center">
																						<tbody>
																							<tr
																								*ngFor="let info of recipe.totals?.infoProductMaquiladorMajor">
																								<td><i
																										class="fa fa-circle col-cyan msr-2"></i>
																									{{ info.name }}<br>
																									<b> {{ info.quantity
																										| number:"1.0-0"
																										}}</b> Productos
																								</td>
																							</tr>
																						</tbody>
																					</table>
																				</div>
																			</div>
																		</div>
																	</div>
																</mat-expansion-panel>
															</mat-accordion>
														</li>
														<li class="list-group-item">
															<b>Monto en dolares</b>
															<div class="profile-desc-item float-end">{{
																recipe.totals?.amountDollarsMaquiladorMajor |
																currency:'$':'symbol' }}</div>
														</li>
													</ul>
												</div>
											</mat-tab>
											<mat-tab *ngIf="maquilador.maquiladorMajor === false"
												label="Productos {{ maquilador.company.businessName }}">
												<div class="p-4">
													<p class="text-default">A continuación, se presenta información
														sobre
														productos
														proporcionados por <b>{{ maquilador.company.businessName }}</b>,
														así como el costo
														generado en dólares. Esta recopilación
														ofrece una visión clara y concisa de la actividad económica,
														proporcionando datos relevantes para su análisis y seguimiento.
													</p>
													<ul class="list-group list-group-unbordered">
														<li class="list-group-item">
															<b>Productos {{ maquilador.company.businessName }}</b>
															<div class="profile-desc-item float-end">
																{{recipe.totals?.amountMaquiladorCooperator |
																number:"1.0-0": "en" }} productos</div>
															<mat-accordion class="example-headers-align" multi>
																<mat-expansion-panel>
																	<mat-expansion-panel-header>
																		<mat-panel-title>
																		</mat-panel-title>
																		<mat-panel-description>
																			Detalles Productos
																			<mat-icon>list_alt</mat-icon>
																		</mat-panel-description>
																	</mat-expansion-panel-header>
																	<div
																		class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
																		<div class="card">
																			<div class="header">
																				<h2></h2>
																			</div>
																			<div class="body">
																				<div class="table-responsive m-t-15">
																					<table
																						class="table align-items-center">
																						<tbody>
																							<tr
																								*ngFor="let info of recipe.totals?.infoProductMaquiladorCooperator">
																								<td><i
																										class="fa fa-circle col-cyan msr-2"></i>
																									{{ info.name }}<br>
																									<b> {{ info.quantity
																										| number:"1.0-0"
																										}}</b> Productos
																								</td>
																							</tr>
																						</tbody>
																					</table>
																				</div>
																			</div>
																		</div>
																	</div>
																</mat-expansion-panel>
															</mat-accordion>
														</li>
														<li class="list-group-item">
															<b>Monto en dolares</b>
															<div class="profile-desc-item float-end">{{
																recipe.totals?.amountDollarsMaquiladorCooperator |
																currency:'$':'symbol' }}</div>
														</li>
													</ul>
												</div>
											</mat-tab>
										</div>
									</mat-tab-group>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
				<div class="card">
					<div class="header"
						style="background-color: #f5f5f5; padding: 12px 20px; border-bottom: 2px solid #2196F3; border-radius: 6px 6px 0 0;">
						<h2 style="margin: 0; font-weight: 700; font-size: 1.4rem; color: #2196F3;">
							🧾 Productos de la Receta
						</h2>
					</div>
					<div class="body">
						<div class="recent-comment" style="position: relative; max-height: 365px;">
							<div class="notice-board" *ngFor="let product of recipe.products">
								<div class="table-img">
									<img class="notice-object" [src]="imagePathServer + product.product.imageUrl"
										alt="...">
								</div>
								<div class="notice-body">
									<h5 class="notice-heading col-blue">{{ product.product.name }}</h5>
									<p>Cantidad por Bolsa:
										<b>{{ product.productQuantity | number:"1.0-0" }}</b>
										{{ product.productQuantity === 1 ? 'Unidad' : 'Unidades' }}
									</p>
									<p> Cantidad Requerida: <b>{{ product.quantityProductRequired | number:"1.0-0"
											}}</b> Productos</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<div class="card">
					<div class="header"
						style="background-color: #f5f5f5; padding: 12px 20px; border-bottom: 2px solid #2196F3; border-radius: 6px 6px 0 0;">
						<h2 style="margin: 0; font-weight: 700; font-size: 1.4rem; color: #2196F3;">
							📊 Proporción de Productos
						</h2>
					</div>
					<div class="body">
						<div id="chart">
							<apx-chart [series]="recipe.pieChartOptions?.series!"
								[chart]="recipe.pieChartOptions?.chart!" [labels]="recipe.pieChartOptions?.labels"
								[responsive]="recipe.pieChartOptions?.responsive!"
								[dataLabels]="recipe.pieChartOptions?.dataLabels!"
								[legend]="recipe.pieChartOptions?.legend!" class="apex-pie-center">
							</apx-chart>
						</div>
						<div class="recent-comment" style="position: relative; max-height: 410px; width: 100%;">
							<div class="notice-board">
								<div class="table-responsive m-t-15" style="width: 100%;">
									<table class="table align-items-center" style="width: 100%;">
										<thead>
											<tr>
												<th>Rubro</th>
												<th></th>
												<th>Cantidad</th>
											</tr>
										</thead>
										<tbody *ngFor="let label of recipe.pieChartOptions.labels; let i = index">
											<tr>
												<td>{{ label }}</td>
												<td></td>
												<td><b>{{ (recipe.pieChartOptions.series[i]) ?
														(recipe.pieChartOptions.series[i] | number:"1.0-0") : 0
														| number:"1.0-0" }}</b>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</mat-tab>
</mat-tab-group>