<!-- <nb-layout>
<nb-layout-column class="column-color">
  <nb-card>
    <nb-card-header class="header-color">
      Categorías
    </nb-card-header>
    <nb-list>
      <nb-list-item *ngFor="let cat of categories; let i = index" class="list-style">
        <nb-user [title]="cat.description" [name]="cat.name" [badgeText]="cat.subcategories.length"
          badgeStatus="info" shape="round" color="#FFFFFF" size="large"
        (click)="showSubcategories(i)"></nb-user>
      </nb-list-item>
    </nb-list>
  </nb-card>
</nb-layout-column>

<nb-layout-column class="column-color">
  <nb-card>
    <nb-card-header class="header-color">
      Subcategorías
    </nb-card-header>

    <nb-list *ngIf="countSubcategories === 0">
      <nb-list-item class="list-style">
        Seleccione una categoría
      </nb-list-item>
    </nb-list>

    <nb-list *ngIf="countSubcategories > 0">
      <nb-list-item *ngIf="currentCategory.editable">
        <button nbButton hero status="primary" size="small" shape="round" (click)="showAdd()">Nuevo
        Elemento</button>
      </nb-list-item>

      <nb-list-item *ngIf="!currentCategory.editable">
        <span class="text-info">Esta subcategoría no es editable</span>
      </nb-list-item>

      <nb-list-item *ngFor="let subcat of subcategories; let i = index" class="list-style">
        <nb-actions size="small" fullWidth *ngIf="currentCategory.editable">
          <nb-action icon="trash-2-outline" title="Eliminar" (click)="showRemove(subcat)"></nb-action>
          <nb-action icon="edit-outline" title="Editar" (click)="showEdit(subcat)"></nb-action>
        </nb-actions>
        {{ subcat.name }}
      </nb-list-item>
    </nb-list>
  </nb-card>
</nb-layout-column>
</nb-layout>  -->
@for (breadscrum of breadscrums; track breadscrum) {
  <div class="block-header">
    <!-- breadcrumb -->
    <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
    </app-breadcrumb>
  </div>
}
<div class="row clearfix">
  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
    <div class="card">
      <div class="header">
        <h2>
          Categorías
        </h2>
      </div>
      <div class="card-body">
        <ul class="list-unstyled user-progress list-unstyled-border list-unstyled-noborder"
          style="position: relative; max-height: 335px;">
          @for (cat of categories; track cat; let i = $index) {
            <li class="lecture-list">
              <img alt="image" class="msr-3 rounded-circle" width="40" src="assets/images/user/usrbig1.jpg">
              <div class="set-flex">
                <div class="media-title font-16" (click)="showSubcategories(i)">{{ cat.name }}</div>
              </div>
            </li>
          }
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
    <div class="card">
      <div class="header">
        <h2>
          Subcategorías
        </h2>
      </div>
      <div class="card-body">
        @if (countSubcategories === 0) {
          <ul class="list-unstyled user-progress list-unstyled-border list-unstyled-noborder"
            style="position: relative; max-height: 335px;">
            <li class="lecture-list">
              Seleccione una categoría
            </li>
          </ul>
        }
        <ul class="list-unstyled user-progress list-unstyled-border list-unstyled-noborder"
          style="position: relative; max-height: 335px;">

          @if (currentCategory?.editable) {
            <li class="lecture-list">
              <button mat-icon-button (click)="showAdd()">
                <mat-icon>add_circle</mat-icon>
                Nuevo Elemento
              </button>
            </li>
          }

          @if (!currentCategory?.editable) {
            <li class="lecture-list">
              <span class="text-info">Esta subcategoría no es editable</span>
            </li>
          }

          @for (subcat of subcategories; track subcat; let i = $index) {
            <li class="lecture-list">
              <img alt="image" class="msr-3 rounded-circle" width="40" src="assets/images/user/usrbig1.jpg">
              <div class="set-flex">
                <div class="media-title font-16">{{ subcat.name }}</div>
              </div>
              @if (currentCategory?.editable) {
                <div class="ms-auto">
                  <button mat-icon-button (click)="showEdit(subcat)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button (click)="showRemove(subcat)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              }
            </li>
          }
        </ul>
      </div>
    </div>
  </div>
</div>