::ng-deep .mat-header-cell {
	background-color: #F5F5F5;
	/* gris muy claro */
	color: #212121;
	/* gris oscuro */
	font-weight: 700;
	font-size: 14px;
	border-bottom: 3px solid #9E9E9E;
	/* borde gris */
	text-transform: capitalize;
	padding: 14px 20px;
}

::ng-deep .mat-header-row {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

::ng-deep .mat-cell {
	padding: 12px 20px;
	font-size: 13px;
	color: #424242;
}