<mat-dialog-content>
    <mat-card class="si-center-text">
        <mat-card-header>
            <h1 mat-dialog-title>Confirmación</h1>
        </mat-card-header>
        <mat-card-content>
            <article>
                <section>
                    ¿Estas seguro/a de eliminar el usuario <b>{{ firstName }}</b> <b>{{ lastName }}</b>?
                    <br /><br />
                    <b>IMPORTANTE:</b> Al eliminar este registro se removerá la información relacionada al mismo<br />
                </section>
                <section>
                    ¿Estas seguro/a de eliminar el usuario <b>{{ firstName }}</b> <b>{{ lastName }}</b>?
                </section>
            </article>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button color="accent" size="small" (click)="closeDialog()">Cancelar</button>
            &nbsp; &nbsp;
            <button mat-button color="warn" size="small" (click)="remove(id)">Eliminar usuario</button>
        </mat-card-actions>
    </mat-card>
</mat-dialog-content>