<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 p-l-10 font-17">
                        {{ dialogTitle }}</div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="closeDialog()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <!-- Your content goes here  -->
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="m-b-20">
                        <div class="contact-grid">
                            <div class="profile-header bg-blue">
                                <div class="user-name">{{ user.firstName }}</div>
                                <div class="name-center">{{ user.lastName }}</div>
                            </div>
                            <img src="assets/images/user/userPng.png" class="user-img" alt="">
                            <div class="name-center">Genero: <b>{{ user.gender.name }}</b></div>
                            <p>
                                Correo: <b>{{ user.email }}</b> 
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-md-12">
                <div class="card">
                    <mat-tab-group>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon msr-2">account_circle</mat-icon>
                                Roles del usuario
                            </ng-template>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="project_widget">
                                    <div class="header">
                                        <h2><strong>Roles</strong></h2>
                                    </div>
                                    <div class="body">
                                        <div class="row">
                                            <!-- <div class="col-md-3 col-6 b-r">
                                                <strong>Precio costo bolsa</strong>
                                                <br>
                                                <p class="text-muted">{{ bagRecipe.bagAtCostPrice |
                                                    currency:'USD':'symbol':'1.2-2': 'en-US' }} </p>
                                            </div>
                                            <div class="col-md-3 col-6 b-r">
                                                <strong>Precio venta bolsa</strong>
                                                <br>
                                                <p class="text-muted">{{ bagRecipe.bagAtSalesPrice |
                                                    currency:'USD':'symbol':'1.2-2': 'en-US' }}
                                                </p>
                                            </div>
                                            <div class="col-md-3 col-6 b-r">
                                                <strong>Productos por bolsa</strong>
                                                <br>
                                                <p class="text-muted">{{ bagRecipe.productForBag | number:"1.0-0" }}
                                                    productos</p>
                                            </div>
                                            <div class="col-md-3 col-6">
                                                <strong>Mes de la receta</strong>
                                                <br>
                                                <p class="text-muted">{{ bagRecipe.monthRecipe }}</p>
                                            </div> -->
                                        </div>
                                        <p class="m-t-30">A continuación, se presenta una síntesis de los productos
                                            utilizados en el ensamblaje de las bolsas. Este resumen ofrece una visión
                                            general de los materiales y componentes empleados en el proceso de
                                            fabricación, facilitando la comprensión de los elementos clave que conforman
                                            el producto final..</p>
                                        <br>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="card">
                                                    <div class="header">
                                                        <h2>Información de productos </h2>
                                                    </div>
                                                    <div class="body">
                                                        <div class="recent-comment"
                                                            style="position: relative; max-height: 370px;">
                                                            <!--    <div class="notice-board"
                                                                *ngFor="let product of bagRecipe.products">
                                                                <div class="table-img">
                                                                    <img class="notice-object"
                                                                        [src]="imagePathServer + product.product.imageUrl"
                                                                        alt="...">
                                                                </div>
                                                                <div class="notice-body">
                                                                    <h5 class="notice-heading col-green">{{
                                                                        product.product.name }}</h5>
                                                                    <p>Cantudad: <b> {{ product.productQuantity |
                                                                            number:"1.0-0" }} </b> Unidades</p>
                                                                    <p> Cantidad Requerida:
                                                                        <b>{{ product.quantityProductRequired |
                                                                            number:"1.0-0" }}</b> Productos
                                                                    </p>
                                                                </div>
                                                            </div> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</div>