<div class="container">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <!-- <img [src]='shipment.img' alt="avatar"> -->
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 font-17">
          {{ dialogTitle }}</div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <mat-horizontal-stepper [linear]="true" (selectionChange)="stepperSelectionChange($event)" #stepper>
      <form [formGroup]="userForm">
        <mat-step [stepControl]="userForm.get('generalInformationForm')!" [editable]="true">
          <section formGroupName="generalInformationForm">
            <ng-template matStepLabel>Información General</ng-template>
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                  <mat-label>Correo</mat-label>
                  <mat-icon matSuffix>email</mat-icon>
                  <input placeholder="example@example.com" matInput formControlName="email" required>
                  @if (userForm.get('generalInformationForm.email')?.hasError('email')) {
                    <mat-error>
                      Por favor, introduce una dirección de correo electrónico válida
                    </mat-error>
                  }
                  @if (userForm.get('generalInformationForm.email')?.hasError('required')) {
                    <mat-error
                      >
                      El campo Email es <strong>requerido</strong>
                    </mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                  <mat-label>Nombre</mat-label>
                  <input placeholder="Su Nombre" matInput formControlName="firstName" required>
                  @if (userForm.get('generalInformationForm.firstName')?.hasError('required')) {
                    <mat-error
                      >
                      El campo Nombre es <strong>requerido</strong>
                    </mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                  <mat-label>Apellido</mat-label>
                  <input placeholder="Su Apellido" matInput formControlName="lastName" required>
                  @if (userForm.get('generalInformationForm.lastName')?.hasError('required')) {
                    <mat-error
                      >
                      El campo Apellido es <strong>requerido</strong>
                    </mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                  <mat-label>Genero</mat-label>
                  <mat-select formControlName="gender" name="gender" required>
                    @for (gender of genreList; track gender) {
                      <mat-option [value]="gender.id">
                        {{ gender.name }}
                      </mat-option>
                    }
                  </mat-select>
                  @if (userForm.get('generalInformationForm.gender')?.hasError('required')) {
                    <mat-error
                      >
                      El campo Genero es <strong>requerido</strong>
                    </mat-error>
                  }
                </mat-form-field>
              </div>

            </div>
            <div>
              <button mat-stroked-button matStepperNext color="primary" (click)="validateSteps()"
              [disabled]="!userForm.get('generalInformationForm')?.valid">Siguiente</button>
            </div>
          </section>
        </mat-step>
        <mat-step [editable]="isStep1Completed">
          <section formGroupName="generalRoleForm" (selectionChange)="stepperSelectionChange($event)">
            <ng-template matStepLabel>Roles</ng-template>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>Roles</mat-label>
                <mat-select formControlName="role" multiple>
                  @for (role of roleList; track role) {
                    <mat-option (onSelectionChange)="capture($event)"
                      [value]="role.id">
                      {{ role.name }}
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
            <p>Ya has terminado.</p>
            <div>
              <button mat-stroked-button matStepperPrevious color="accent" class="msr-2">Atrás</button>
              <button mat-stroked-button color="primary" type="submit" [disabled]="!userForm.valid"
              [mat-dialog-close]="1" (click)="saveChanges($event)">Guardar</button>
              <button mat-stroked-button color="warn" tabindex="-1" mat-dialog-close>Cancel</button>
            </div>
          </section>
        </mat-step>
      </form>
    </mat-horizontal-stepper>
  </div>
</div>