<form class="validate-form"  (ngSubmit)="changePassword($event)" novalidate>
  <section>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input matInput [type]="hide ? 'newPassword' : 'text'" formControlName="newPassword">
      <a class="show-pwd-icon" href="#" onClick="return false;" matSuffix (click)="hide = !hide"
        [attr.aria-label]="'Hide newPassword'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </a>
      @if (changePasswordForm.get('newPassword')?.hasError('required')) {
        <mat-error>
          El campo es requerido
        </mat-error>
      }
    </mat-form-field>
  </section>

  <section>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Confirmar contraseña</mat-label>
      <input matInput [type]="hide ? 'confirmPassword' : 'text'" formControlName="confirmPassword">
      <a class="show-pwd-icon" href="#" onClick="return false;" matSuffix (click)="hide = !hide"
        [attr.aria-label]="'Hide confirmPassword'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </a>
      @if (changePasswordForm.get('confirmPassword')?.hasError('required')) {
        <mat-error>
          El campo es requerido
        </mat-error>
      }
      @if (changePasswordForm.get('confirmPassword')?.hasError('notmatch')) {
        <mat-error>
          Las contraseñas no coinciden
        </mat-error>
      }
    </mat-form-field>
  </section>

  <section>
    <button type="submit" nbButton hero fullWidth shape="round" status="primary" size="large"
    [disabled]="changePasswordForm.invalid">Cambiar Contraseña</button>
  </section>
</form>