<div class="content-block">
	<div class="block-header" *ngFor="let breadcrum of breadcrumbs">
		<!-- breadcrumb -->
		<app-breadcrumb [title]="breadcrum.title" [items]="breadcrum.items" [active_item]="breadcrum.active">
		</app-breadcrumb>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12">
			<mat-tab-group>
				<mat-tab>
					<ng-template mat-tab-label>
						<i class="material-icons-two-tone psr-3">list_alt</i>
						Vista Lista
					</ng-template>
					<div class="mt-5">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="card">
								<div class="body">
									<div class="row clearfix">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<div class="responsive_table">
												<div class="materialTableHeader">
													<div class="row align-items-center">
														<div class="col-8 col-md-10 d-flex align-items-center">
															<mat-form-field class="w-100 m-0 p-0" appearance="outline"
																subscriptSizing="dynamic">
																<mat-label>{{ searchTittle }}</mat-label>
																<mat-icon matPrefix
																	class="text-muted me-2">search</mat-icon>
																<input matInput (keyup)="applyFilter($event)"
																	placeholder="Buscar productos..." #input>
															</mat-form-field>
														</div>
														<div
															class="col-4 col-md-2 d-flex align-items-center justify-content-end">
															<ul
																class="header-buttons d-flex list-unstyled justify-content-end gap-1 gap-md-2 m-0 p-0">
																<li>
																	<div class="icon-button-demo">
																		<button mat-mini-fab color="primary"
																			(click)="create()">
																			<mat-icon class="col-white">add</mat-icon>
																		</button>
																	</div>
																</li>
																<li>
																	<div class="icon-button-demo">
																		<button mat-mini-fab color="primary"
																			(click)="dataRefresh()">
																			<mat-icon
																				class="col-white">refresh</mat-icon>
																		</button>
																	</div>
																</li>
															</ul>
														</div>
													</div>
												</div>
												<div class="example-container mat-elevation-z8">
													<mat-table #table [dataSource]="dataSource" matSort
														class="mat-cell">
														<ng-container matColumnDef="imageUrl">
															<mat-header-cell *matHeaderCellDef>IMAGEN</mat-header-cell>
															<mat-cell *matCellDef="let row">
																<div class="table-img">
																	<img class="notice-object" [src]="row.imageUrl"
																		alt="Imagen del producto">
																</div>
															</mat-cell>
														</ng-container>
														<ng-container matColumnDef="sku">
															<mat-header-cell *matHeaderCellDef>SKU</mat-header-cell>
															<mat-cell *matCellDef="let row"
																[innerHTML]="row.sku"></mat-cell>
														</ng-container>
														<ng-container matColumnDef="name">
															<mat-header-cell *matHeaderCellDef>NOMBRE
																PRODUCTO</mat-header-cell>
															<mat-cell *matCellDef="let row"
																[innerHTML]="row.name"></mat-cell>
														</ng-container>
														<mat-header-row *matHeaderRowDef="displayedColumns">
														</mat-header-row>
														<mat-row
															*matRowDef="let row; columns: displayedColumns"></mat-row>
													</mat-table>
													<div class="no-results"
														[style.display]="dataLength == 0 ? '' : 'none'">
														<h3 style="text-align: center;">Sin registros para mostrar</h3>
													</div>

													<mat-paginator #paginator [length]="dataLength" [pageIndex]="0"
														[pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
													</mat-paginator>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</mat-tab>
				<mat-tab>
					<ng-template mat-tab-label>
						<i class="material-icons-two-tone psr-3">grid_on</i>
						Vista cuadrícula
					</ng-template>
					<div class="row mt-5 ml-0 mr-0">
						@for (product of productList; track product; let i = $index) {
						<div class="col-md-4">
							<div class="card border-apply">
								<div class="m-b-20">
									<div class="contact-grid">
										<div class="profile-header bg-green">
											<div class="user-name">{{ product.name }}</div>
											<div class="name-center">RUBRO: {{ product.name }}
											</div>
										</div>
										<!--     <img class="user-img" [src]="product.imageUrl"
                          alt="Imagen del producto"> -->
										<img src="{{ product.imageUrl }}" class="user-img" alt="">
										<p>
											<br />SKU: <strong> {{ product.sku }} </strong>
										</p>
										<div class="profile-userbuttons">
											<button mat-stroked-button color="primary"
												(click)="detail(product)">Detalle</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						}
					</div>
				</mat-tab>
			</mat-tab-group>
		</div>
	</div>
</div>