<div class="container">
	<div class="modalHeader">
		<div class="editRowModal">
			<div class="modalHeader clearfix">
				<div class="modal-about">
					<div class="font-weight-bold p-t-5 font-17">
						{{ dialogTitle }}</div>
				</div>
			</div>
		</div>
		<button mat-icon-button (click)="closeDialog()" aria-label="Close dialog">
			<mat-icon>close</mat-icon>
		</button>
	</div>
	<div mat-dialog-content>
		<form [formGroup]="productForm">
			<section formGroupName="generalProductForm">
				<ng-template matStepLabel>Ingreso de producto</ng-template>
				<div class="row">

					<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
						<mat-form-field class="example-full-width" appearance="outline">
							<mat-label>Numero de SKU</mat-label>
							<input matInput formControlName="sku" name="sku" required>
							@if (productForm.get('generalProductForm.sku')?.hasError('required')) {
							<mat-error>
								El Sku es requerido
							</mat-error>
							}
						</mat-form-field>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
						<mat-form-field class="example-full-width" appearance="outline">
							<mat-label>Nombre del producto</mat-label>
							<input matInput formControlName="name" name="name" required>
							@if (productForm.get('generalProductForm.name')?.hasError('required')) {
							<mat-error>
								El Nombre es requerido
							</mat-error>
							}
						</mat-form-field>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
						<mat-form-field class="example-full-width mb-3" appearance="outline">
							<mat-label>Ubicacion</mat-label>
							<mat-select formControlName="location" name="location" required>
								@for (location of locationList; track location) {
								<mat-option [value]="location.id">
									{{ location.name }}
								</mat-option>
								}
							</mat-select>
							@if (productForm.get('generalProductForm.location')?.hasError('required')) {
							<mat-error>
								La Ubicacion es requerida
							</mat-error>
							}
						</mat-form-field>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
						<mat-form-field class="example-full-width mb-3" appearance="outline">
							<mat-label>Unidad de nedida</mat-label>
							<mat-select formControlName="unitMeasurec" name="unitMeasurec" required>
								@for (unitMeasurec of unitMeasurecList; track unitMeasurec) {
								<mat-option [value]="unitMeasurec.id">
									{{ unitMeasurec.name }}
								</mat-option>
								}
							</mat-select>
							@if (productForm.get('generalProductForm.unitMeasurec')?.hasError('required')) {
							<mat-error>
								La Unidad de nedida es requerida
							</mat-error>
							}
						</mat-form-field>
					</div>
					<div mat-dialog-actions class="mb-1" align="end">
						<button mat-stroked-button color="primary" type="submit" [disabled]="!productForm.valid"
							[mat-dialog-close]="1" (click)="saveChanges($event)">Guardar</button>
						<button mat-stroked-button color="warn" tabindex="-1" mat-dialog-close>Cancel</button>
					</div>
				</div>
			</section>
		</form>
	</div>
</div>